* {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  box-sizing: border-box;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #1f2636;
}

.advicecard{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  background-color:  #434e5c;
  border: #434e5c 1px solid;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
}
.advicenumber{
  background-color: #434e5c;
  font-size: 10px;
  padding-bottom: 5%;
  letter-spacing: 2px;
  color: #53ffab;
}
.advice{
  background-color: #434e5c;
  font-size: 20px;
  padding-bottom: 5%;
  color: white;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 60%;
  border: none;
  background-color: #6ed3a9;
  transform: translate(0%, 100%);
}
button:hover{
  box-shadow: 0px 0px 15px 5px  #53ffab;
  background-color:  #53ffab;
}